.has-success:after,
.has-danger:after {
    top: 35% !important;
}

.pagination {
    justify-content: end !important;
}

.dataTables_filter {
    float: right !important;
}

.page-link {
    padding: .2rem .6rem !important;
}

/* Input group customize */
.input-group-text {
    border: 1px solid rgba(29, 37, 59, 0.5);
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    transition: 0.3s;
    width: 2.5rem;
    padding: 0;
}
.input-group>.div{
    position: relative;
    display: flex;
}
.input-group>.div> select {
    display: block;
    width: auto;
    height: 100%;
    padding: 0 10px;
    outline: 0;
    text-align: left;
    border-radius: 0;
    border-right:0;
    font-family: 'FontAwesome', 'Second Font name'
}
.input-group-text > i{
    margin: 0 auto;
}
.input-group-text:hover {
    border-color: #e14eca;
}
