/* ======================================================
                 Start Global CSS
========================================================== */
body {
	font-family: 'Poppins', sans-serif;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer a,
footer input,
footer input[type="submit"],
footer button,
footer label, 
footer li, 
footer p {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.small-btn {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	padding: 12px 26px;
	border-radius: 13px;
	background-color: #152360;
	color: #fff;
	transition:  all 0.3s;
}
.small-btn:hover {
	background-color: #122F98;
}

.title {
	font-family: roboto;
	font-size: 70px;
	line-height: 85px;
	font-weight: 500;
}
.sub-heading {
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	line-height: 32px;
	font-weight: 600;
}
.black-color {
	color: #111111;
}


.top-border {
	position: absolute;
	top: 0;
	left: 0;
}

.top-border::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 0;
	border: 9px solid #122f98;
	z-index: 1;
}
.top-border::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 0;
	height: 250px;
	border: 9px solid #122f98;
	z-index: 1;
}


.bottom-border {
	position: absolute;
	bottom: 0;
	right: 0;
}
.bottom-border::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 250px;
	height: 0;
	border: 9px solid #122f98;
	z-index: 1;
}
.bottom-border::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 250px;
	border: 9px solid #122f98;
	z-index: 1;
}

.top-border-animation {
	position: absolute;
}
.top-border-animation::before {
	content: '';
	position: absolute;
	width: 295px;
	height: 0;
	border: 8px solid #122F98;
	top: 0;
	left: 0;
}
.top-border-animation::after {
	content: '';
	position: absolute;
	width: 0;
	height: 230px;
	border: 8px solid #122F98;
	top: 0;
	left: 0;
}
.social-box ul {
	padding: 0;
	margin: 0;
}
.social-box ul li {
	display: inline-block;
	margin-right: 5px;
}
.social-box ul li:last-child {
    margin-right: 0;
}

.social-box ul li a {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
/* ======================================================
                 End Global Style
========================================================== */


/* =================== Header Style ================ */
.header-logo-section .deatiles-items .icon {
	min-width: 20px;
}
.header-menu-section .header-search {
	max-width: 232px;
}
.header-logo-section .deatiles-items p {
	color: #111;
	display: block;
	font-size: 14px;
	line-height: 20px;
}


.header-logo-section .social-column ul label {
	display: none;
}

.header-menu-section .navbar-toggler {
	position: relative;
	width: 46px;
	height: 35px;
	padding: 0;
	background: transparent;
}
.header-menu-section .navbar-toggler .icon-bar {
	position: absolute;
	width: calc(100% - 10px);
	height: 3px;
	background-color: #ffffff;
	display: block;
	opacity: 1;
	visibility: visible;
	z-index: 9999999999999999;
}
.header-menu-section .navbar-toggler .icon-bar:nth-child(1) {
	left: 0;
	top: 3px;
	transition: all 0.2s;
}

.header-menu-section .navbar-toggler .icon-bar:nth-child(2) {
	right: 0;
	top: 16px;
}
.header-menu-section .navbar-toggler .icon-bar:nth-child(3) {
	bottom: 3px;
	left: 0;
	transition: all 0.2s;
}
.header-menu-section .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(1) {
	transform: rotate(-45deg);
	top: 45%;
}
.navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(2) {
	display: none;
}
.header-menu-section .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(3) {
	transform: rotate(45deg);
	bottom: 45%;
}
.header-menu-section button:focus-visible,
.header-menu-section button:focus,
.header-menu-section button:focus-visible {
	outline: 0;
	border: 0;
	box-shadow: none;
}
.header-menu-section .navbar-toggler::before {
	content: 'Menu';
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	color: #fff;
	position: absolute;
	left: -50px;
	top: 7px;
}
.header-menu-section .navbar-toggler[aria-expanded="true"]::before {
	content: 'Hide';
}


/* .navbar-toggler .icon-bar:nth-child(4) {
	bottom: 1px;
	left: 0;
} */
/* ============================ Start Who Are Section Style ================================ */
.who-you-section {
	padding-top: 102px;
	padding-bottom: 132px;
}
.who-you-section .image-column .image-inner-wrapp {
	position: relative;
}
.who-you-section .image-column .image-inner-wrapp img {
	padding: 9px;
}

.who-you-section .content-column h2 {
	color: #111111;
	margin-bottom: 30px;
}
.who-you-section .who-row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
.who-you-section .image-column{
	width: 52%;
}
.who-you-section .content-column {
	width: 48%;
}
.who-you-section .content-column .bg-wrapper {
	position: relative;
	padding: 40px 20px 30px 35px;
	bottom: -32px;
	background-color: #F2F2F2;
	/* height: calc(100% - 45px); */
}
.who-you-section .content-column .bg-wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	left: -75px;
	width: 75px;
	height: 100%;
	background-color: #F2F2F2;
	z-index: -1;
}
.who-you-section .content-column .text-inner-wrapp {
	max-width: 504px;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.who-you-section .content-column .text-inner-wrapp .text-wrapp .button-wrapp {
	padding-top: 15%;
	padding-bottom: 8%;
}

/* ============================ Start Who Are Section Style ================================ */
.service-sction {
	padding-top: 100px;
}
.service-sction .title-row {
	margin-bottom: 20px;
}
.service-sction .service-row {
	align-items: flex-end;
}
.service-sction .content-column {
	padding-bottom: 18px;
}
.service-sction .content-column .service-wrapper .service-inner {
	padding: 30px 0;
	border-bottom: 1px solid #707070;
}
.service-sction .content-column .service-wrapper .service-inner:last-child {
	border: none;
}
.service-sction  .service-icon {
	margin-bottom: 18px;
}
.service-sction  .service-icon .icon-wrapp {
	max-width: 48px;
	margin: auto;
}
.service-sction .service-content {
	text-align: center;
}
.service-sction .service-content .servece-title {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
	margin-bottom: 20px;
}
.service-sction .service-content .service-details {
	font-size: 16px;
	line-height: 20px;
}
/* ============================ Start Notice Section Style ================================ */

.notice-section {
	padding-top: 60px;
	padding-bottom: 90px;
	background-color: #F2F2F2;
}
.notice-section .title-row h2 {
	margin-bottom: 100px;
}
.notice-section .notice-board-wrappper {
	max-width: 83%;
	margin: auto;
}
.notice-section .notice-board-wrappper ul li {
	padding: 25px 82px;
	border-radius: 40px;
	background-color: #fff;
	margin-bottom: 52px;
	-webkit-box-shadow: 0px 15px 15px rgba(112,112,112,0.3);
	-moz-box-shadow: 0px 15px 15px rgba(112,112,112,0.3);
	box-shadow: 0px 15px 15px rgba(112,112,112,0.3);
	box-shadow: 0px 15px 15px rgba(112,112,112,0.3);
}
.notice-section .notice-board-wrappper ul li a::before {
	content: url(../img/hand-Icon.svg);
	margin-right: 18px;
	position: relative;
	top: 3px;
}
.notice-section .notice-board-wrappper ul li:last-child {
	margin-bottom: 0;
}

.notice-section .notice-board-wrappper .button-wrapp {
	margin-top: 100px;
}


/* ============================ Start Notice Section Style ================================ */


/* ============================ Start ICSB President Section Style ================================ */
.president-section {
	padding-top: 100px;
	background-color: #F2F2F2;
}

.president-section .president-row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
.president-section .image-column {
	width: 48%;
}
.president-section .content-column {
	width: 52%;
	margin-bottom: 60px;
}
.president-section .image-column .president-img {
	position: relative;
	padding: 16px 20px 0 16px;
}
.president-section .image-column .president-img::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20px;
	height: calc(100% - 80px);
	background-color: #122f98;
}
.president-section .image-column .president-title {
	padding: 12px 40px;
	background-color: #122f98;
}
.president-section .image-column .president-title h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	line-height: 36px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 0;
}
.president-section .content-column .bg-wrapper {
	position: relative;
	background-color: #ffffff;
}
.president-section .content-column .bg-wrapper::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -44px;
	width: 44px;
	height: 100%;
	background-color: #fff;
}
.president-section .content-column .text-wrapp {
	max-width: 600px;
	margin: auto;
	padding: 55px 20px;
}
.president-section .content-column .text-wrapp .title {
	margin-bottom: 30px;
}
.president-section .content-column .text-wrapp p {
	margin-bottom: 10px;
}

.president-section .content-column .text-wrapp .button-wrapp {
	text-align: right;
}
.president-section .content-column .text-wrapp .button-wrapp .small-btn {
	margin-top: 10%;
}

/* ============================ End ICSB President Section Style ================================ */


/* ============================ Start Articles Section Style ================================ */
.article-section {
	padding: 100px 0;
	background-color: #F2F2F2;
}
.article-section .title-row {
	margin-bottom: 50px;;
}
.article-section .article-row {
	grid-row-gap: 40px;
}
.article-section .student-column .articel-featured img {
	padding: 10px;
}
.article-section .member-column .articel-featured img {
	padding: 10px;
}
.article-section .article-inner-wrapp .article-heading-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #122F98;
	padding: 7px 20px;
	margin-bottom: 10px;
}
.article-section .article-inner-wrapp .article-heading-row .article-title {
	width: 60%;
}
.article-section .article-inner-wrapp .article-heading-row .article-title h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0;
}
.article-section .article-inner-wrapp .article-heading-row  .article-heading {
	width: 40%;
}
.article-section .article-inner-wrapp .article-heading-row .article-btn-wrapp {
	text-align: right;
}
.article-section .article-inner-wrapp .article-heading-row .article-btn-wrapp a {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-align: center;
	color: #122F98;
	width: 88px;
	height: 30px;
	border-radius: 8px;
	background-color: #ffffff;
	transition: all 0.3s;
}
.article-section .article-inner-wrapp .article-heading-row .article-btn-wrapp a:hover {
	color: #111111;
}
.article-section .article-body-row .article-wrapp {
	margin-bottom: 25px;
}
.article-section .article-body-row .article-wrapp:last-child {
	margin-bottom: 0;
}
.article-section .article-wrapp .article-content-row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	background-color: #fff;
}
.articel-featured {
	width: 140px;
	border: 4px solid #8A8A8A;
	overflow: hidden;
}
.articel-featured img {
	min-height: 130px;
	object-fit: cover;
	transition: all 0.2s;
}
.articel-details {
	width: calc(100% - 140px);
	padding: 10px 10px 10px 12px;
}
.articel-details h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
	transition: all 0.3s;
}
.author-box {
	line-height: 0;
}
.author-box span {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
.article-section .article-wrapp .article-content-row:hover .articel-details h2 {
	color: #122f98;
}
.article-section .article-wrapp .article-content-row:hover .articel-featured img {
	transform: scale(1.03);
}
/* ============================ End Articles Section Style ================================ */


/* ======================= Start Recent Vedeos Section Style ======================= */

.recent-video-section {
	padding: 100px 0;
	background-color: #122F98;
}
.recent-video-section .title-row {
	margin-bottom: 50px;
}
.recent-video-section .title-row .title {
	color: #ffffff;
}

.recent-video-section .videos-row {
	grid-row-gap: 25px;
}
.recent-video-section .video iframe {
	border: 4px solid #fff;
}
.recent-video-section .video .video-title {
	padding: 12px;
	background-color: #152360;
}
.recent-video-section .video {
	line-height: 0;
}
.recent-video-section .video p {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-transform: capitalize;
	color: #fff;
	margin: 0;
}



.recent-video-section .video .ytp-show-cards-title {
	display: none;
}
.recent-video-section .video .ytp-large-play-button {
	display: none;
}

/* ======================= End Recent Vedeos Section Style ======================= */


/* ======================= Start Update Section Style ======================= */

.update-section {
	padding: 100px 0;
}
.update-section .title-row {
	margin-bottom: 50px;
}
.update-section .update-row {
	grid-row-gap: 25px;
}
.update-section .update-title {
	padding: 12px 10px;
	background-color: #152360;
	text-align: center;
	transition: all 0.3s;
}
.update-section .update-title h5 {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 400;
	color: #ffffff;
	margin: 0;
}
.update-section .update-img {
	position: relative;
	overflow: hidden;
}
.update-section .update-img img {
	transition: all 0.2s;
}
.update-section .update-img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.3s;
}
.update-section .update-inner-wrapp {
	cursor: pointer;
}
.update-section .update-inner-wrapp:hover .update-img::after {
	height: 0;
	transform-origin: bottom;
}
.update-section .update-inner-wrapp .update-img::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: rgba(0, 0, 0, 0.2);
	transition: all 0.3s;
}
.update-section .update-inner-wrapp:hover .update-img::before {
	height: 100%;
	transform-origin: top;
}
.update-section .update-inner-wrapp:hover .update-img img {
	transform: scale(1.2);
}
.update-section .update-inner-wrapp:hover .update-title {
	background-color: #122f98;
}

/* ======================= End Update Section Style ======================= */


/* ======================= Start Logo-carousel Section Style ======================= */
.logo-section {
	padding: 100px 0;
}
.logo-section .logo-inner-wrapp .inner-item .logo-wrapp {
	max-width: 48%;
	margin: 0 auto 30px auto;
}
.logo-section .logo-inner-wrapp .inner-item {
	text-align: center;
}
.logo-section .logo-inner-wrapp .logo-title {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #122F98;
}
.logo-section .logo-inner-wrapp .owl-nav {
	position: absolute;
	left: 0%;
	top: 30%;
	margin: 0;
	width: 100%;
}
.logo-section .logo-inner-wrapp .owl-nav button {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #F2F2F2;
	opacity: 1;
}
.logo-section .logo-inner-wrapp .owl-nav button:hover {
	background-color: #122F98;
}
.logo-section .logo-inner-wrapp .owl-nav button span {
	font-size: 40px;
	font-weight: 300;
	line-height: 35px;
}
.logo-section .logo-inner-wrapp .owl-nav .owl-prev {
	position: absolute;
	left: -44px;
	border-radius: 0;
}
.logo-section .logo-inner-wrapp .owl-nav .owl-next {
	position: absolute;
	right: -44px;
	border-radius: 0;
}

/* ======================= Start Logo-carousel Section Style ======================= */


/* ---------------============= Start About Us Page Style ==============-------------- */

/* ======================= Start About Us Section Style ======================= */

.about-section {
	padding-top: 100px;
}
.about-section .image-column {
	width: 53%;
}
.about-section .content-column {
	width: 47%;
}
.about-section .image-column .image-inner-wrapp {
	position: relative;
}
.about-section .image-column .image-inner-wrapp img {
	padding: 9px;
}
.about-section .about-row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.about-section .content-column .text-inner-wrapp {
	padding-left: 15px;
}
.about-section .content-column .text-wrapp  .title {
	padding: 30px 0 20px;
}
.about-section .content-column .text-wrapp p {
	margin-top: 25px;
}
.about-section .content-row {
	padding-top: 35px;
}
.about-section .content-row p {
	margin-bottom: 25px;
}

/* ======================= End About USSection Style ======================= */

/* ======================= Start About Service Style ======================= */
.about-service-section {
	padding-top: 60px;
}
/* ======================= End About Service Style ======================= */

/* ======================= End About Mission & Vision Style ======================= */

.mission-section {
	padding: 100px 0;
	background-color: #F2F2F2;
}
.mission-section .title-row {
	margin-bottom: 50px;
}

.mission-section .mission-row {
	align-items: center;
}
.mission-section .image-column .video {
	line-height: 0;
	border: 5px solid #fff;
}

.mission-section .content-column .mission-wrapp {
	border: 1px solid #000;
	background-color: #fff;
	margin-bottom: 15px;
}
.mission-section .content-column .mission-wrapp .sub-heading {
	margin: 0;
}
.mission-section .content-column .mission-wrapp:last-child {
	margin-bottom: 0;
}
.mission-section .content-column .mission-wrapp .title-wrapp {
	padding: 10px 25px;
	border-bottom: 1px solid #000;
}
.mission-section .content-column .mission-wrapp .text-wrapp {
	padding: 26px 25px;
}
.mission-section .content-column .mission-wrapp .text-wrapp p {
	margin-bottom: 5px;
}
.mission-section .content-column .mission-wrapp .text-wrapp p:last-child {
	margin-bottom: 0;
}

/* ======================= End About Mission & Vision Style ======================= */

/* ======================= End You Need Help? Section Style ======================= */
.help-section {
	padding: 100px 0;
}
.help-section .container-wrapper {
	background-color: #070000;
	padding: 50px 0 60px;
}
.help-section .help-box {
	max-width: 1050px;
	margin: auto;
	text-align: center;
	padding: 0 30px;
}
.help-section .help-box .title {
	margin-bottom: 20px;
}
.help-section .help-box p {
	font-size: 30px;
	line-height: 36px;
	font-weight: 500;
	margin-bottom: 62px;
}
/* ======================= End You Need Help? Section Style ======================= */

/* ---------------============= End About Us Page Style ==============-------------- */


/* ---------------============= Start  Past President Page Style ==============-------------- */

.past-predident-section {
	padding: 100px 0;
}
.past-predident-section  .title-row {
	margin-bottom: 50px;
}

.past-predident-section .president-row:last-child {
	margin-bottom: 0;
}
.past-predident-section .president-row .content-col {
	position: relative;
	width: 52%;
	background-color: #F2F2F2;
}
.past-predident-section .president-row .content-col::after {
	content: '';
	position: absolute;
	top: 0;
	right: -40px;
	width: 40px;
	height: 100%;
	background-color: #F2F2F2;
	z-index: -1;
}
.past-predident-section .president-row .content-col .content-col-inner {
	padding: 38px 6px;
}
.past-predident-section .president-row .president-column {
	margin-bottom: 40px;
} 
.past-predident-section .president-row .president-column .president-column-inner {
	align-items: center;
}
.past-predident-section .president-row .content-col .p-name {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
	margin-bottom: 15px;
}
.past-predident-section .president-row .content-col .p-age {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 38px;
}
.past-predident-section .president-row .content-col .p-age span:first-child {
	margin-right: 10px;
}
.past-predident-section .president-row .content-col .p-details {
	line-height: 20px;
	margin-bottom: 35px;
}
.past-predident-section .president-row .content-col .p-details {
	line-height: 20px;
}

.past-predident-section .president-row .image-col {
	width: 48%;
}
.past-predident-section .president-row .social-box {
	background-color: #122F98;
	padding: 10px 12px;
}
.past-predident-section .president-row .social-box ul {
	text-align: center;
}
.past-predident-section .president-row .social-box ul li a {
	color: #000000;
	background-color: #fff;
}

/* ---------------============= End  Past President Page Style ==============-------------- */


/* ---------------============= Start President Page Style ==============-------------- */
.president-portfolio-section {
	padding: 100px 0;
}
.president-portfolio-section .image-column .content-box {
	padding: 50px 35px 40px;
}
.president-portfolio-section .image-column .ingfo-wrapp {
	text-align: center;
	border-bottom: 1px solid #111111;
	padding-bottom: 35px;
	margin-bottom: 40px;
}
.president-portfolio-section .image-column .ingfo-wrapp .name {
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	line-height: 36px;
	font-weight: 500;
	margin-bottom: 10px;
}
.president-portfolio-section .image-column .ingfo-wrapp .deg {
	font-size: 25px;
	line-height: 32px;
	font-weight: 500;
}
.president-portfolio-section .image-column .address-wrapp ul {
	padding: 0;
	margin: 0;
}
.president-portfolio-section .image-column .address-wrapp ul li {
	display: flex;
	margin-bottom: 8px;
}
.president-portfolio-section .image-column .address-wrapp ul li:last-child {
	margin-bottom: 0;
}
.president-portfolio-section .image-column .address-wrapp ul li::before {
	width: 12px;
	display: inline-block;
	margin-right: 8px;
}
.president-portfolio-section .image-column .address-wrapp ul li.location::before {
	content: url('assets/../img/past-president-../img/location.svg');
	position: relative;
	top: 5px;
}
.president-portfolio-section .image-column .address-wrapp ul li.phone::before {
	content: url('assets/../img/past-president-../img/telephone.svg');
}
.president-portfolio-section .image-column .address-wrapp ul li.email::before {
	content: url('assets/../img/past-president-../img/email.svg');
}
.president-portfolio-section .image-column .address-wrapp ul li a {
	color: #111111;
}
.president-portfolio-section .image-column .social-box {
	text-align: center;
	padding: 20px 10px;
	background-color: #122F98;
}
.president-portfolio-section .image-column .social-box ul li a {
	color: #000000;
	background-color: #fff;
}

.president-portfolio-section .content-column .description-wrapp {
	margin-bottom: 60px;
}
.president-portfolio-section .content-column .bio-wrapp {
	background-color: #F2F2F2;
	padding: 40px 20px;
}
.president-portfolio-section .content-column p {
	margin-bottom: 20px;
}
.president-portfolio-section .content-column p:last-child {
	margin-bottom: 0;
}
.president-portfolio-section .content-column h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	line-height: 36px;
	font-weight: 500;
	margin-bottom: 15px;
}
/* ---------------============= End President Page Style ==============-------------- */


/* ---------------============= End CPD Program Page Style ==============-------------- */
.cpd-programm-section {
	padding: 100px 0;
}
.cpd-programm-section .title-row {
	margin-bottom: 50px;
}
.cpd-programm-section .cpd-content-row {
	padding-bottom: 24px;
	grid-row-gap: 80px;
}
.cpd-programm-section .cpd-content-wrapp {
	box-shadow: 0 8px 25px -5px rgba(112, 112, 112, 0.5);
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}
.cpd-programm-section .cpd-content-inner-wrapp {
	padding: 25px;
}
.cpd-programm-section .featured-col-inner {
	position: relative;
	border: 4px solid #707070;
}
.cpd-programm-section .cpd-featured-col .date {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 55px;
	height: 45px;
	padding: 6px;
	line-height: 0;
	background-color: #122F98;
}
.cpd-programm-section .cpd-featured-col .date span {
	font-size: 12px;
	line-height: 16px;
	color: #fff;
}
.cpd-programm-section .cpd-heading {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
}
.cpd-programm-section .cpd-details {
	line-height: 20px;
}
.cpd-programm-section .button-wrapp {
	margin-bottom: -24px;
}
/* ---------------============= End CPD Program Page Style ==============-------------- */

/* ---------------============= End World Wide Chartered Secretaries Page Style ==============-------------- */
.world-wide-section {
	padding: 100px 0;
}

.world-wide-section .title-row {
	margin-bottom: 50px;
}
.chartered-secretaries-row {
	grid-row-gap: 26px;
}
.world-wide-section .chart-sec-inner{
	height: 100%;
	padding: 40px;
	background-color: #F2F2F2;
}
.world-wide-section .chart-sec-logo {
	max-width: 205px;
	margin: auto;
}
.world-wide-section .chart-sec-content {
	max-width: 450px;
	margin: auto;
}
.world-wide-section .chart-heading {
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 20px;
}
.world-wide-section .chart-sub-heading {
	font-weight: 700;
}
.world-wide-section p {
	line-height: 20px;
	margin-bottom: 22px;
}
.world-wide-section .chart-link span {
	line-height: 20px;
}
.world-wide-section .chart-link span a {
	word-wrap: anywhere;
}

/* ---------------============= End World Wide Chartered Secretaries Page Style ==============-------------- */


/* ---------------============= Start Fees Table Page Style ==============-------------- */
.table-section {
	padding: 100px 0;
}
.table-section .title-row {
	margin-bottom: 40px;
}
.table-section .table-heading {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 25px;
}
.table-section table {
	border-color: #111111;
	margin-bottom: 30px;
	padding-bottom: 10px;
}
table thead tr th,
table tfoot tr td {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	padding: 18px 30px !important;
	vertical-align: middle;
}
table tbody tr td {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	padding: 15px 30px !important;
}
table tbody tr td:last-child {
	text-align: center;
}
table tfoot tr td {
	text-align: center;
}

table thead tr th:not(.small-width) {
	width: calc(100% - 140px);
	width: 100%;
}
table .small-width {
	width: 140px;
	text-align: center;
}
table .smaller-width {
	max-width: 115px;
	text-align: center;
	vertical-align: middle;
}

table {
	overflow-x: scroll;
	scrollbar-color: #062BB1 rgb(255, 255, 255);
	scrollbar-width: thin;
	display: block;
}


.table-section .student-regi-fee-table {
	margin-bottom: 50px;
}

.table-section .council-table-row  table thead tr th, .table-section .council-table-row  table tfoot tr td {
	padding: 15px 18px !important;
}
.table-section .council-table-row table tbody tr td {
	padding: 12px 20px !important;
}
.table-section .council-table-row table tbody tr td:nth-child(3),
.table-section .council-table-row table tbody tr td:nth-child(3) {
	text-align: center;
}

/* ---------------============= End Fees Table Page Style ==============-------------- */

/* =============================== Start Council Section ========================== */
.council-section {
	padding: 100px 0;
}
.council-section .title-row {
	margin-bottom: 50px;
}
.member-box {
	max-width: 260px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
.member-info {
	position: relative;
}
.member-overlay {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	/* height: calc(100% - 100px); */
	height: 100%;
	background-color: #062BB1;
	z-index: -1;
}
.member-box .image-wrapp {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #8A8A8A;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	top: -100px;
	transition: all 0.3s;
}
.member-box .image-wrapp img {
	transition: all 0.3s;
}
.councilor-info {
	text-align: center;
	padding: 20px 15px 40px;
	margin-top: -100px;
}
.member-box .name {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 4px;
}
.member-box .designation {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
}
.member-box .social-box {
	background-color: #152360;
	padding: 12px 10px;
	text-align: center;
}
.member-box .social-box ul li a {
	font-size: 12px;
	line-height: 22px;
	width: 22px;
	height: 22px;
	background-color: #fff;
	color: #000;
}
.social-box ul li a {
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	width: 22px;
	height: 23px;
	border-radius: 50%;
}


.council-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-column-gap: 2%;
	grid-row-gap: 40px;
}
.council-inner .member-box-wrapp {
	width: 18.4%;
	/* width: fit-content; */
}
.council-inner .member-box-wrapp:nth-child(1) {
	width: 100%;
}
.council-inner .member-box-wrapp:nth-child(2) {
	width: 49%;
}
.council-inner .member-box-wrapp:nth-child(3) {
	width: 49%;
}
.council-inner .member-box-wrapp:nth-child(4) {
	width: 32%;
}
.council-inner .member-box-wrapp:nth-child(5) {
	width: 32%;
}
.council-inner .member-box-wrapp:nth-child(6) {
	width: 32%;
}
.council-inner .member-box-wrapp:nth-child(7) {
	width: 23.5%;
}
.council-inner .member-box-wrapp:nth-child(8) {
	width: 23.5%;
}
.council-inner .member-box-wrapp:nth-child(9) {
	width: 23.5%;
}
.council-inner .member-box-wrapp:nth-child(10) {
	width: 23.5%;
}

.council-inner .member-box-wrapp:nth-child(5),
.council-inner .member-box-wrapp:nth-child(7),
.council-inner .member-box-wrapp:nth-child(8),
.council-inner .member-box-wrapp:nth-child(9) {
	/* width: auto; */
	width: fit-content;
}
.council-inner .member-box-wrapp:nth-child(2) .member-box,
.council-inner .member-box-wrapp:nth-child(4) .member-box,
.council-inner .member-box-wrapp:nth-child(8) .member-box,
.council-inner .member-box-wrapp:nth-child(7) .member-box {
	margin-right: 0;
}

.council-inner .member-box-wrapp:nth-child(3) .member-box,
.council-inner .member-box-wrapp:nth-child(6) .member-box,
.council-inner .member-box-wrapp:nth-child(10) .member-box {
	margin-left: 0;
}

.member-box:hover .image-wrapp {
	box-shadow: 0 5px 2px #052493;
}
.member-box:hover .image-wrapp img {
	transform: scale(1.1);
}
.member-box:hover .social-box {
	background-color: #062bb1;
}
.member-box:hover .member-overlay {
	background-color: #083dfb;
}

.council-section .executive-officer-row {
	padding-top: 60px;
}
.council-section .executive-title-wrapp {
	max-width: 555px;
	margin: auto;
	padding: 15px 10px;
	margin-bottom: 40px;
	background-color: #8A8A8A;
}
.council-section .executive-title-wrapp .executive-title {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 0;
}


/* =============================== End Council Section ========================== */

/* ======================================================
                 Start Footer Style
========================================================== */



.footer-location-section{
	padding: 28px 0;
	background: #152360;
}
.footer-location-section .location-content{
	display: flex;
	column-gap: 110px;
	align-items: center;
	justify-content: center;
}
.footer-location-section .loction-items{
	display: flex;
	column-gap: 13px;
	align-items: center;
}
.footer-location-section .location-content p{
	color: #fff;
	font-size: 12px;
	line-height: 20px;
}
.footer-location-section .location-content a{
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}





.footer-section{
	padding-top: 90px;
	background: #242424;
}
.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	grid-column-gap: 1.33%;
}
.footer-content img{
	width: auto;
	margin-right: 7px;
}
.footer-content ul{
	margin: 0;
	padding: 0;
	margin-top: 24px;
}
.footer-content ul li a:not(.visitor-col .social-box ul li a) {
	color: #fff;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}
.footer-content ul li:first-child img{
	top: -25px;
    position: relative;
}


.socket-section{
    padding: 12px 0;
    background: #242424;
    border-top: 1px solid #fff;
}
.socket-section .socket-content p{
	color: #fff;
	font-size: 10px;
	line-height: 16px;
}
/* ========================== */

footer .news-letter-section {
    padding-bottom: 90px;
}
footer .news-letter-section .news-letter-wrapp h2 {
	font-family: roboto;
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 25px;
}
footer .news-letter-section .news-letter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    max-width: 700px;
    margin: auto;
}
footer .news-letter-section .news-letter input[type="email"] {
	width: calc(100% - 130px);
	height: 52px;
	border-radius: 0;
	font-size: 12px;
	line-height: 30px;
	font-weight: 400;
	color: #010C1C;
	padding: 8px 30px;
	background-color: #DEDEDE;
    font-family: 'Poppins', sans-serif;
}
footer .news-letter-section .news-letter .custom-btn {
	width: 130px;
	height: 52px;
	border-radius: 0;
	font-size: 12px;
	line-height: 26px;
	font-weight: 400;
	text-transform: uppercase;
}

footer .footer-main {
    padding-bottom: 80px;
}
footer .footer-main h3 {
    font-size: 24px;
    line-height: 30px;
}
footer .logo-col {
    width: 30%;
}
footer .ft-menu-left {
    width: 22%;
    margin-top: 70px;
}
footer .ft-menu-right {
    width: 22%;
    margin-top: 70px;
}
footer .visitor-col {
	width: 22%;
	margin-top: 50px;
}


footer .logo-col ul li {
	display: flex;
	margin-bottom: 18px;
}
footer .logo-col ul li:last-child {
    margin-bottom: 0;
}
footer .logo-col ul li a.in-icon::before,
footer .logo-col ul li::before {
	width: 12px;
	display: block;
	margin-right: 8px;
}
footer .logo-col ul li.location .in-icon::before, 
footer .logo-col ul li.location::before {
	content: url('./../img/location-Icon.svg');
	position: relative;
	top: 3px;
}
footer .logo-col ul li.phone .in-icon::before,
footer .logo-col ul li.phone::before {
    content: url('./../img/telephone-Icon.svg');
}
footer .logo-col ul li.email .in-icon::before,
footer .logo-col ul li.email::before {
    content: url('./../img/Email-Icon.svg');
}
footer .logo-col ul li a.in-icon::before {
	display: none;
}
footer .logo-col ul li img {
    width: 12px;
}
footer .footer-menu {
    max-width: fit-content;
    margin-left: auto;
}
footer .footer-menu ul li {
	margin-bottom: 16px;
}
footer .footer-menu ul li:last-child {
	margin-bottom: 0;
}
footer .visitor-col .visitor-wrapp {
	max-width: 210px;
	width: 100%;
    padding: 20px;
	background-color: #fff;
}
footer .visitor-col .visitor-wrapp ul li span {
	color: #111111;
}
footer .visitor-col .visitor-wrapp h3 {
    color: #111111;
}
footer .visitor-col .social-box ul li a {
	color: #000;
	background-color: #fff;
	transition: all 0.3s;
}
footer .visitor-col .social-box ul li a:hover {
	color: #ffffff;
	background-color: #2348EC;
}

/* ======================================================
                 End Footer Style
========================================================== */


@media only screen and (max-width: 1200px) {
	.council-inner .member-box-wrapp {
		width: fit-content;
	}
}

@media only screen and (max-width: 1200px) {
	.council-inner .member-box-wrapp:nth-child(4),
	.council-inner .member-box-wrapp:nth-child(6),
	.council-inner .member-box-wrapp:nth-child(10) {
		width: fit-content;
	}
  }

  @media only screen and (max-width: 600px) {
	.council-inner .member-box-wrapp,
	.council-inner .member-box-wrapp:nth-child(4),
	.council-inner .member-box-wrapp:nth-child(6), 
	.council-inner .member-box-wrapp:nth-child(10),
	.council-inner .member-box-wrapp:nth-child(5), 
	.council-inner .member-box-wrapp:nth-child(7), 
	.council-inner .member-box-wrapp:nth-child(8), 
	.council-inner .member-box-wrapp:nth-child(9) {
		width: 49%;
	}
  }

  @media only screen and (max-width: 414px) {
	.council-inner .member-box-wrapp,
	.council-inner .member-box-wrapp:nth-child(2),
	.council-inner .member-box-wrapp:nth-child(3),
	.council-inner .member-box-wrapp:nth-child(4),
	.council-inner .member-box-wrapp:nth-child(6), 
	.council-inner .member-box-wrapp:nth-child(10),
	.council-inner .member-box-wrapp:nth-child(5), 
	.council-inner .member-box-wrapp:nth-child(7), 
	.council-inner .member-box-wrapp:nth-child(8), 
	.council-inner .member-box-wrapp:nth-child(9) {
		width: 100%;
	}
	.council-inner .member-box-wrapp .member-box,
	.council-inner .member-box-wrapp:nth-child(2) .member-box,
	.council-inner .member-box-wrapp:nth-child(3) .member-box,
	.council-inner .member-box-wrapp:nth-child(4) .member-box,
	.council-inner .member-box-wrapp:nth-child(6) .member-box, 
	.council-inner .member-box-wrapp:nth-child(10) .member-box,
	.council-inner .member-box-wrapp:nth-child(5) .member-box, 
	.council-inner .member-box-wrapp:nth-child(7) .member-box, 
	.council-inner .member-box-wrapp:nth-child(8) .member-box, 
	.council-inner .member-box-wrapp:nth-child(9) .member-box {
		margin-left: auto;
		margin-right: auto;
	}
  }