.common-heading{
	font-size: 50px;
	line-height: 56px;
}
.breadcrumbs-heading{
	font-size: 50px;
	line-height: 56px;
}






.world-wide-section{
	padding: 100px 0;
}
.world-wide-section .world-wide-column{
	column-gap: 2%;
}
.world-wide-section .world-wide-column .world-wide-item{
	background: #F2F2F2;
	width: 49%;
	padding: 50px;
}
.world-wide-section img{
	width: auto;
}