@media only screen and (max-width: 1460px){
    .header-menu-section .navbar-nav {
        column-gap: 3px;
    }
    .header-menu-section .navbar-nav li a {
        font-size: 14px;
        line-height: 20px;
    }
}
@media only screen and (max-width: 1300px){
    .breadcrumbs-section .overly-image {
        display: none;
    }
    .breadcrumbs-section .breadcrumbs-row .left-column {
        width: 100%;
    }
    .breadcrumbs-section .breadcrumbs-row .left-column::after {
        display: block;
        left: 87%;
        right: 0;
    }
    .breadcrumbs-heading {
        max-width: 100%;
    }
}
@media only screen and (max-width: 1200px){
    .recent-update-section .recent-update-row .item h3 {
        font-size: 19px;
        line-height: 25px;
    }

/*============================ Fellow Member Page ===============================*/
     .fellow-member-section {
        padding: 70px 0;
    }
    .fellow-member-section .fellow-row{
        row-gap: 23px;
        column-gap: 3%;
        margin-top: 35px;
    }
    .fellow-member-section .fellow-row .fellow-items {
        width: 48.5%;
        flex-wrap: wrap;
        padding: 28px 20px 25px 20px;
    }
    .fellow-member-section .fellow-row .fellow-items .image-column {
        width: 100%;
    }   
    .fellow-member-section .fellow-row .fellow-items .content-column {
        width: 100%;
    } 
    .fellow-member-section .fellow-row .fellow-items li {
        font-size: 15px;
        line-height: 21px;
    }
    .fellow-member-section .fellow-row .fellow-items h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .fellow-member-section .fellow-row .fellow-items img {
        height: auto;
    }
    .fellow-member-section .fellow-row .fellow-items p {
        max-width: 100%;
    }
    .fellow-member-section .fellow-row .fellow-items h4 {
        margin-top: 22px;
    }

/*========================= Gallery Page ====================*/
    .gallery-section {
        padding: 70px 0 89px 0;
    }    
    .gallery-section .gallery-button-section a {
        line-height: 48px;
        height: 50px;
        max-width: 230px;
    }

/*========================= Gajet Page =====================*/   
    .gajet-section {
        padding: 90px 0;
    }

/*===================== President Page ======================*/
    .president-content-section .president-content-row {
        padding: 90px 0 65px 0;
    }
    .president-content-section .president-content-row .right-column h2 {
        font-size: 60px;
        line-height: 64px;
        padding-bottom: 15px;
    }   
    .president-content-section .president-content-row .left-column .name-tittle {
        padding: 35px 20px 35px 20px;;
    } 
    .president-content-section .president-content-row .left-column .name-tittle h3 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .president-content-section .president-content-row .left-column .name-tittle p {
        font-size: 19px;
        line-height: 26px;
    }
    .president-content-section .president-content-row .left-column .contact-info {
        background: #F2F2F2;
        padding: 37px 20px 18px 20px;
    }
    .president-content-section .president-content-row .left-column .contact-info {
        background: #F2F2F2;
        padding: 23px 20px 6px 20px;
    }
    .president-content-section .president-content-row .left-column .contact-info ul li a {
        font-size: 16px;
        line-height: 22px;
    }
    .president-content-section .president-content-row .left-column .contact-info ul li{
        margin-bottom: 12px;
    }
    .president-content-section .president-content-row .left-column .social-media {
        padding: 15px 0;
    }
    .president-content-section .president-content-row .left-column .social-media ul li a {
        width: 35px;
        height: 35px;
        font-size: 16px;
        line-height: 22px;
    }
    .president-content-section .president-content-row .left-column .social-media ul {
        column-gap: 13px;
    }

/*==================== Event & Blog Single Page =====================*/  
    #event-detiles-section .event-info-section .info-row ul {
        column-gap: 20px;
    }
    #event-detiles-section .event-info-section {
        padding: 30px;
    }
/*============================= Objective Page =====================*/
    .objectives-section {
        padding: 90px 0;
    }
    .objectives-section .objective-row {
        padding: 50px;
    }


    .main-footer-section {
        padding: 55px 0 10px 0;
    }
    .main-footer-section h2 {
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .main-footer-section ul li {
        margin-bottom: 8px;
    }
    .main-footer-section ul li a {
        font-size: 15px;
        line-height: 21px;
    }
    .main-footer-section ul{
        margin-bottom: 40px;
    }
    .main-footer-section .footer-row {
       padding: 0;
    }
    .main-footer-section .footer-row .footer-column{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .main-footer-section .footer-row .first-column{
        justify-content: flex-start;
    }
    .main-footer-section .visitor-column ul {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 1199px){
    .header-menu-section {
        padding: 7px 0 6px 0;
    }
    .main-header-section .header-content h1::after {
        display: none;
    }
    .main-header-section .header-content h2 {
        display: none;
    }
    .main-header-section .header-content p {
       display: none;
    }
    .header-menu-section .navbar-nav li a {
        text-align: center;
    }
    .header-menu-section .navbar-brand{
        display: block;
    }
    .main-header-section .header-content img {
        display: none;
    }
    .header-menu-section .navbar-brand img{
        width: 160px;
    }
    .header-menu-section .navbar-toggler {
        position: relative;
        width: 46px;
        height: 40px;
        padding: 0;
        border: 0;
        margin-top: 6px;
        background: transparent;
    }
    .header-menu-section .navbar-toggler:focus{
        box-shadow: none;
    }
    .header-menu-section .navbar-toggler .icon-bar {
        position: absolute;
        width: calc(100% - 10px);
        height: 3px;
        background-color: #ffffff;
        display: block;
        opacity: 1;
        visibility: visible;
        z-index: 9999999999999999;
    }
    .header-menu-section .navbar-toggler .icon-bar:nth-child(1) {
        left: 0;
        top: 3px;
        transition: all 0.2s;
    }
    .header-menu-section .navbar-toggler .icon-bar:nth-child(2) {
        right: 0;
        top: 14px;
    }
    .header-menu-section .navbar-toggler .icon-bar:nth-child(3) {
        bottom: 11px;
        left: 0;
        transition: all 0.2s;
    }
}
@media only screen and (max-width: 1024px){
    .breadcrumbs-section .breadcrumbs-row .left-column {
        height: 300px;
    }
    .breadcrumbs-heading {
        font-size: 45px;
        line-height: 51px;
    }
    .breadcrumbs-section .breadcrumbs-row .left-column ul li a {
        font-size: 17px;
        line-height: 26px;
    }
    .breadcrumbs-section .breadcrumbs-row .left-column ul li p {
        font-size: 17px;
        line-height: 26px;
    }

    .faq-section {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .faq-section .faq-content{
        flex-wrap: wrap;
        margin-top: 27px;
    }
    .faq-section .faq-content .left-column{
        width: 100%;
    }
    .faq-section .faq-content .right-column{
        width: 100%;
    }
    .faq-section .faq-content .accordion-item {
        margin-top: 14px;
    }

    .form-section .detailes-column {
        width: 100%;
        padding: 30px 25px;
    }
    .form-section .form-column {
        width: 100%;
        padding: 40px 25px;
    }
    .form-section .form-content {
        flex-wrap: wrap;
    }   

/*======================== CPD Program Page =========================*/
    .cpd-section {
        padding: 80px 0;
    }
    .cpd-section .cpd-row {
        row-gap: 22px;
    }
    .cpd-section .cpd-row .cpd-items {
        width: 49%;
    }    
    .cpd-section .cpd-row .cpd-items .cpd-content h2 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }

/*=========================== Code of Conduct Page =======================*/ 
    .codeof-conduct-section {
        padding: 80px 0;
    }   
    .codeof-conduct-section .codeof-conduct-row .image-column {
        width: 100%;
        margin-bottom: 35px;
    }    
    .codeof-conduct-section .codeof-conduct-row .content-column {
        width: 100%;
    }
/*======================== Board Meeting Page =========================*/
    .director-metting-section {
        padding: 63px 0;
    }
/*======================== CS Handbook Page ======================*/
    .cs-handbook-section {
        padding: 80px 0;
    }
/*======================= Exam Schedul Page ======================*/
    .handbook-section .handbook-column {
        flex-direction: column-reverse;
    }
    .handbook-section .handbook-column .new-handbook {
        width: 100%;
        margin-top: 35px;
    }
    .handbook-section .handbook-column .old-handbook {
        width: 100%;
    }    
    .handbook-section {
        padding: 80px 0 44px 0;
    }
    .handbook-section .handbook-column p {
        margin-bottom: 25px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 989px){
    .flex{
        flex-wrap: wrap;
    }
    .common-heading {
        font-size: 40px;
        line-height: 46px;
    }

    .top-header-section .header-column {
        width: 100%;
        justify-content: center;
    }
    .main-header-section .header-content h1 {
        font-size: 40px;
        line-height: 46px;
    }
    .main-header-section .header-content h1::after {
        top: 43px;
    }
    .main-header-section .header-content p {
        font-size: 14px;
        line-height: 20px;
    }

    .we-are-section {
        padding: 59px 0 130px 0;
    }
    .we-are-section .we-are-coulmn .content-column{
        margin-top: 30px;
    }
    .we-are-section .we-are-coulmn{
        flex-direction: column-reverse;
    }
    .we-are-section .we-are-coulmn .content-column a {
        margin-top: 30px;
    }
    .we-are-section .we-are-coulmn .image-column::after {
        left: 11px;
        top: 11px;
        width: 93%;
        height: 93%;
    }

    .president-section {
        padding: 40px 0 20px 0;
    }
    .president-section .president-column .left-column {
        width: 100%;
    }
    .president-section .president-column .right-column {
        width: 100%;
        margin-top: 30px;
    }
    .president-section .president-column .left-column .president-info {
        padding: 30px 20px 30px 20px;
    }
    .president-section .president-column .left-column h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .president-section .president-column .right-column h2 {
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 15px;
    }
    .president-section .president-column .right-column a {
        margin-top: 25px;
    }

    .recent-update-section {
        padding: 70px 0 30px 0;
    }
    .section-heading h2 {
        font-size: 45px;
        line-height: 51px;
        margin-bottom: 43px;
    }
    .recent-update-section .recent-update-row .see-button a {
        top: -110px;
    }
    .recent-update-section .recent-update-row .item a {
        display: block;
    }
    .recent-update-section .recent-update-row .item h3 {
        font-size: 20px;
        line-height: 26px;
    }

    .endorsement-section {
        padding: 80px 0;
    }
    .endorsement-section .endorsement-column{
        width: 50%;
    }
    .endorsement-section .endorsement-column .reg-field-wrapp {
        padding: 100px 25px;
    }



    .about-us-section .about-us-row {
        flex-direction: column;
    }
    .about-us-section .about-us-row .image-column {
        width: 100%;
    }
    .about-us-section .about-us-row .image-column .first-image {
        width: 80%;
    }
    .about-us-section .about-us-row .image-column .second-image {
        width: 80%;
        margin-top: -163px;
    }
    .about-us-section .about-us-row .content-column {
        width: 100%;
        margin-top: 36px;
    }
    .about-us-section .about-us-row h2 {
        margin-bottom: 19px;
    }

/*===================== Gallery Page ==========================*/
    .gallery-section {
        padding: 60px 0 80px 0;
    }
    .gallery-section .gallery-content {
        column-gap: 3%;
    }  
    .gallery-section .gallery-items {
        width: 48.5%;
    }
    .gallery-section .gallery-items a{
        display: block;
    }    
    .gallery-section .gallery-button-section a {
        line-height: 49px;
        height: 50px;
        max-width: 215px;
    }
/*========================== Gajet Page ========================*/
    .gajet-section {
        padding: 80px 0;
    }    
/*======================= President Page ============================*/
    .president-content-section .president-content-row {
        padding: 78px 0 60px 0;
    }
    .president-content-section .president-content-row .left-column {
        width: 100%;
    }
    .president-content-section .president-content-row .right-column {
        width: 100%;
        padding-left: 0;
        margin-top: 40px;
    }    
    .president-content-section .president-content-row .right-column h2 {
        font-size: 50px;
        line-height: 56px;
        padding-bottom: 15px;
    } 
    .president-content-section .president-content-row .left-column .social-media {
        padding: 18px 0;
    }
    .president-content-section .president-content-row .left-column .name-tittle {
        padding: 35px 40px 35px 40px;
    }
    .president-content-section .president-content-row .left-column .contact-info {
        padding: 20px 40px 10px 40px;
    }
    .president-content-section .president-content-row .left-column .name-tittle h3 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;
    }
    .president-content-section .president-content-row .left-column .name-tittle p {
        font-size: 21px;
        line-height: 25px;
    }
/*==================== Event & Blog Single Page =====================*/  
    #event-detiles-section {
        padding: 80px 0;
    }
    #event-detiles-section .event-info-section .info-row ul {
        column-gap: 20px;
    }
    .jobsingle-content-section .content-row .content-column {
        width: 100%;
    }
    .jobsingle-content-section .content-row .summary-column {
        width: 100%;
        margin-top: 40px;
    }  
/*============================= Objective Page ===========================*/
    .objectives-section {
        padding: 80px 0;
    }
    .objectives-section .objective-row {
        padding: 50px 40px 30px 40px;
    }
    .objectives-section .objective-row .left-column {
        width: 100%;
    }    
    .objectives-section .objective-row .left-column iframe{
        width: 100%;
    }
    .objectives-section .objective-row .right-column {
        width: 100%;
        margin-top: 35px;
    }   
    .objectives-section .objective-row .right-column h2 {
        margin-bottom: 20px;
    } 
/*====================== Mission & Vision Page =======================*/     
    .mision-vision-section {
        padding: 63px 0;
    }
    .vision-mission-section {
        padding-bottom: 63px;
    }
    .vision-mission-section .mission-row {
        max-width: 100%;
        flex-direction: column-reverse;
    } 
    .mision-vision-section .mission-row .content-column, .vision-mission-section .mission-row .content-column {
        left: 0;
        padding: 45px 25px;
        max-width: 100%;
        border: 0;
        outline: 0;
    }
    .mision-vision-section .mission-row .content-column h2, .vision-mission-section .mission-row .content-column h2 {
        margin-bottom: 15px;
    }
    .mision-vision-section .content-column, .mision-vision-section .image-column, 
    .vision-mission-section .mission-row .content-column, .vision-mission-section .mission-row .image-column{
        width: 100%;
    }


    .executive-committee-section .committee-row {
        row-gap: 45px;
    }
    .executive-committee-section .committee-row .committee-items {
        justify-content: center;
    }
    .executive-committee-section .committee-row .committee-items img{
        margin-bottom: 18px;
    }
    .executive-committee-section .committee-row .committee-items h3 {
        font-size: 19px;
        line-height: 27px;
        max-width: 280px;
        text-align: center;
    }
    .executive-committee-section .committee-row .committee-items li {
        justify-content: center;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
    .section-heading h2 {
        font-size: 33px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .common-heading{
        font-size: 30px;
        line-height: 36px;
    }

    .top-header-section .header-content-column {
        justify-content: center;
    }
    .main-header-section {
        padding: 10px 0;
    }
    .main-header-section .header-content h1 {
        font-size: 35px;
        line-height: 34px;
        margin-top: 17px;
    }
    .main-header-section .header-content h1::after {
        top: 70px;
    }
    .main-header-section .header-content h2 {
        font-size: 17px;
        line-height: 22px;
        margin-top: 8px;
    }
    .main-header-section .header-content .logo-column {
        display: none;
    }


    .banner-section img{
        height: 350px;
        object-fit: cover;
    }
    .banner-section .carousel-control-prev {
        display: none;
    }
    .banner-section .carousel-control-next {
        display: none;
    }
    .news-ticker-section .ticker-title {
        width: 160px;
        padding: 10px 20px;
    }
    .news-ticker-section .ticker-title h3 {
        font-size: 17px;
        line-height: 28px;
    }


    .section-heading h2 {
        margin-bottom: 10px;
    }
    .we-are-section {
        padding: 65px 0 110px 0;
    }
    .we-are-section .we-are-coulmn .content-column {
        width: 100%;
        margin-top: 40px;
    }
    .we-are-section .we-are-coulmn .image-column{
        width: 100%;
    }
    .we-are-section .we-are-coulmn .content-column p {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .we-are-section .we-are-coulmn .content-column a {
        margin-top: 10px;
    }


    .bss-section .bss-row .bss-left-column {
        width: 100%;
        padding: 0;
    }
    .bss-section .bss-row .bss-left-column h2 {
        font-size: 32px;
        line-height: 38px;
        max-width: 100%;
        text-align: center;
    }
    .bss-section .bss-row .bss-right-column {
        width: 100%;
        margin-top: 80px;
        column-gap: 5%;
    }
    .bss-section .bss-row .bss-right-column .bss-item {
        width: 47.5%;
        background: #fff;
        position: relative;
        border-radius: 27px;
        padding: 20px 15px 14px 15px;
    }
    .bss-section .bss-row .bss-right-column .bss-item h3 {
        font-size: 14px;
        line-height: 20px;
    }


    .recent-update-section .recent-update-row .item a{
        display: block;
    }


    .cs-wide-section .owl-dot {
        position: absolute;
        right: 50%;
        top: 165px;
        display: block;
    }
    .recent-update-section {
        padding: 52px 0 8px 0;
    }
    .recent-update-section .recent-update-row .recent-update-slider{
        margin-top: 32px;
    }
    .recent-update-section .recent-update-row .item h3 {
        font-size: 18px;
        line-height: 25px;
    }
    .recent-update-section .recent-update-row .item .post-content p {
        margin-top: 10px;
    }
    .recent-update-section .recent-update-row .owl-theme .owl-dots {
        margin-top: 90px;
    }
    .recent-update-section .recent-update-row .see-button a {
        top: -80px;
    }
    .recent-update-section .recent-update-row .owl-theme .owl-dots .owl-dot span {
        width: 25px;
        height: 10px;
        margin: 0px 4px;
    }


    .endorsement-section {
        padding: 60px 0;
    }
    .endorsement-section .endorsement-column{
        width: 100%;
    }
    .endorsement-section .endorsement-column .reg-field-wrapp {
        padding: 100px 25px;
    }


    .national-award-section .award-column {
        row-gap: 25px;
    }
    .national-award-section .award-column .award-inner{
        width: 49.15%;
    }


    .faq-section {
        padding-top: 68px;
        padding-bottom: 65px;
    }
    .faq-section .faq-content {
        margin-top: 25px;
    }
    .faq-section .faq-content .accordion-item .accordion-body {
        padding: 33px 25px;
    }
    .faq-section .faq-content .accordion-item .accordion-button {
        height: 54px;
        padding-left: 50px;
    }
    .faq-section .faq-content .accordion-item .collapsed {
        height: 54px;
        padding-left: 50px;
    }
    .faq-section .faq-content .accordion-item {
        margin-top: 15px;
    }
    .faq-section .faq-content .accordion-item .accordion-button::before {
        left: 25px;
    }
/*========================= Fellow Member Page =========================*/
    .fellow-member-section {
        padding: 65px 0;
    }
    .fellow-member-section .fellow-row {
        margin-top: 35px;
    }
    .fellow-member-section .fellow-row .fellow-items{
        width: 100%;
        padding: 30px 20px 25px 20px;
    }
    .fellow-member-section .fellow-row .fellow-items h3 {
        font-size: 22px;
        line-height: 28px;
    }
    .fellow-member-section .fellow-row .fellow-items {
        width: 100%;
    }
/*====================== CPD Program Page =====================*/
    .cpd-section {
        padding: 63px 0;
    }
    .cpd-section .cpd-row .cpd-items {
        width: 100%;
    }    
/*====================== President Page ======================*/
    .president-content-section .president-content-row {
        padding: 63px 0 45px 0;
    }
    .president-content-section .president-content-row .left-column .name-tittle {
        padding: 25px 20px;
    }
    .president-content-section .president-content-row .right-column h2 {
        font-size: 45px;
        line-height: 51px;
        padding-bottom: 15px;
    }
    .president-content-section .president-content-row .left-column .name-tittle h3 {
        font-size: 23px;
        line-height: 32px;
        margin-bottom: 6px;
    }
    .president-content-section .president-content-row .left-column .name-tittle p {
        font-size: 19px;
        line-height: 23px;
    }
    .president-content-section .president-content-row .left-column .contact-info {
        padding: 25px 20px 10px 20px;
    }
    .president-content-section .president-content-row .left-column .contact-info ul li a {
        font-size: 16px;
        line-height: 24px;
    }
    .president-content-section .president-content-row .left-column .contact-info ul li{
        margin-bottom: 7px;
    }
    .president-content-section .president-content-row .left-column .social-media {
        padding: 15px 0;
    }
    .president-content-section .president-content-row .left-column .social-media ul {
        column-gap: 10px;
    }
    .president-content-section .president-content-row .left-column .social-media ul li a {
        width: 35px;
        height: 35px;
        font-size: 16px;
        line-height: 22px;
    }
/*======================== Gallery Page ================*/  
    .gallery-section {
        padding: 43px 0 63px 0;
    }
    .gallery-section .gallery-button-section a {
        line-height: 45px;
        height: 47px;
        max-width: 210px;
    }
/*======================= Code of Conduct Page =======================*/
    .codeof-conduct-section {
        padding: 63px 0;
    }
    .codeof-conduct-section .codeof-conduct-row h3 {
        margin-top: 6px;
        margin-bottom: 12px;
    }
/*======================== Board Meeting Page =========================*/
    .director-metting-section {
        padding: 63px 0;
    }
/*========================== CS Handbook Page ========================*/
    .cs-handbook-section {
        padding: 63px 0;
    }
    .cs-handbook-section .handbook-column {
        row-gap: 40px;
    }
    .cs-handbook-section .handbook-column .new-handbook {
        width: 100%;
    }
    .cs-handbook-section .handbook-column .old-handbook {
        width: 100%;
    }
/*======================= Exam Schedul Page ======================*/
    .handbook-section {
        padding: 63px 0 30px 0;
    }
    .handbook-section .handbook-column h2 {
        margin-bottom: 20px;
    }
/*============================ About ICSB Page =========================*/
    .about-us-section {
        padding: 54px 0;
    }
    .about-us-section .about-us-row .image-column .first-image {
        width: 76%;
    }
    .about-us-section .about-us-row .image-column .second-image {
        width: 76%;
        margin-top: -100px;
    }
    .about-us-section .about-us-row h2 {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 5px;
        /* margin-top: 33px; */
    }

/*============================ Event & Blog Single Page =======================*/  
    #event-detiles-section {
        padding: 64px 0;
    }  
    .event-info-section {
        padding: 25px;
    }
    #event-detiles-section .event-info-section .info-row h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    #event-detiles-section .content-row .summary-column .job-summery {
        padding: 25px 20px;
    }
/*=========================== Breascrumb Section ====================*/    
    .breadcrumbs-heading {
        font-size: 30px;
        line-height: 37px;
        max-width: 100%;
    }
    .breadcrumbs-section .breadcrumbs-row .left-column ul li a {
        font-size: 16px;
        line-height: 22px;
    }
    .breadcrumbs-section .breadcrumbs-row .left-column ul {
        margin-top: 8px;
    }
    .breadcrumbs-section .overly-image {
        display: none;
    }
    .breadcrumbs-section .breadcrumbs-row .left-column {
        width: 100%;
        height: 220px;
    }
    .breadcrumbs-section .breadcrumbs-row .left-column ul li p {
        font-size: 16px;
        line-height: 22px;
    }
    .breadcrumbs-section .breadcrumbs-row .left-column::after {
        right: -573px;
    }
/*============================== Event Page ========================*/    
    .our-events-section {
        padding: 60px 0;
    }
    .our-events-section .events-row .item {
        width: 100%;
        padding: 35px 30px;
        height: 290px;
        display: flex;
        align-items: center;
    }
    .our-events-section .events-row .item h3 {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .our-events-section .events-row .item ul{
        row-gap: 6px;
    }

    .form-section {
        padding: 65px 0;
    }
    .form-section h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 22px;
        font-weight: 600;
    }
    .form-section .detailes-column .deatiles-items h4 {
        font-size: 20px;
        line-height: 28px;
        margin-top: -4px;
    }
    .form-section .detailes-column h3 {
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 30px;
    }
    .map-section iframe{
        height: 350px;
    }
/*=========================== Objective Page ==============================*/
    .objectives-section {
        padding: 63px 0;
    }
    .objectives-section .container{
        padding: 0;
    }
    .objectives-section .objective-row {
        padding: 60px 30px 35px 30px;
    }
    .objectives-section .objective-row .right-column h2 {
        margin-bottom: 15px;
    }
    .objectives-section .objective-row .right-column p {
        margin-bottom: 15px;
    }
    .objectives-section .objective-row .left-column iframe{
        width: 100%;
    }
/*================================ Mission & Vision Page ===============================*/   
    .mision-vision-section {
        padding: 63px 0;
    }
    .vision-mission-section {
        padding-bottom: 63px;
    }
    .vision-mission-section .mission-row {
        max-width: 100%;
        flex-direction: column-reverse;
    } 
    .mision-vision-section .mission-row .content-column, .vision-mission-section .mission-row .content-column {
        left: 0;
        padding: 45px 25px;
        max-width: 100%;
        border: 0;
        outline: 0;
    }
    .mision-vision-section .mission-row .content-column h2, .vision-mission-section .mission-row .content-column h2 {
        margin-bottom: 15px;
    }
    .mision-vision-section .content-column, .mision-vision-section .image-column, 
    .vision-mission-section .mission-row .content-column, .vision-mission-section .mission-row .image-column{
        width: 100%;
    }
/*================================= Executive Member Page =============================*/   
    .executive-committee-section {
        padding: 63px 0;
    }
    .executive-committee-section .committee-row {
        column-gap: 2%;
    } 
    .executive-committee-section .committee-row .committee-items {
        width: 49%;
        justify-content: center;
        text-align: center;
    }
    .executive-committee-section .committee-row .committee-items h3 {
        margin: 0 auto;
        font-size: 20px;
        line-height: 26px;
        max-width: 250px;
        padding-bottom: 12px;
    }
    .executive-committee-section .committee-row .committee-items img {
        margin-bottom: 20px;
    }
    .executive-committee-section .committee-row .committee-items li {
        justify-content: center;
    }
}
@media only screen and (max-width: 600px){
    .top-header-section .header-column {
        column-gap: 10px;
    }
    .top-header-section .date-column{
        column-gap: 21px;
    }
    .top-header-section .header-column p {
        font-size: 15px;
        font-weight: 400;
        position: relative;
    }
    .top-header-section .header-column p::before{
        content: '|';
        left: -12px;
        position: absolute;
    }
    .top-header-section .header-column p:first-child::before{
        display: none;
    }
    .top-header-section .header-content-column {
        flex-direction: column-reverse;
    }
    .top-header-section .header-column:first-child{
        display: none;
    }
    .top-header-section .header-info-column a {
        width: 160px;
        font-size: 13px;
        line-height: 24px;
    }
    .top-header-section .header-column p span{
        display: none;
    }
    .top-header-section .header-info-column{
        margin-bottom: 8px;
    }

    .form-section .detailes-column .deatiles-items img {
        width: 40px;
        height: 40px;
    }
    .form-section .detailes-column .deatiles-items {
        column-gap: 15px;
        margin-top: 20px;
    }
    .form-section .form-column input {
        width: 100%;
        height: 45px;
    }
    .form-section .form-column form {
        row-gap: 20px;
    }
    .form-section .form-column .submit-button{
        height: 50px;
        max-width: 100%;
    }

/*======================== Fellow Member Page ===========================*/    
    .fellow-row .fellow-items .image-column {
        width: 100%;
    }
    .fellow-row .fellow-items .content-column {
        width: 100%;
        margin-top: 25px;
    }
    .fellow-member-section .fellow-row .fellow-items {
        width: 100%;
    }
    .fellow-member-section .fellow-row .fellow-items h4 {
        margin-top: 0px;
    }
    .fellow-row .fellow-items img{
        height: auto;
    }
    .fellow-row .fellow-items p {
        max-width: 100%;
    }
    .fellow-row .fellow-items li{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 7px;
    }
    .fellow-row .fellow-items h3 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 7px;
    }
    .fellow-row .fellow-items p strong {
        font-size: 14px;
        line-height: 22px;
    }
    .fellow-row .fellow-items h4 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0px;
    }

/*========================= CPD Program Page ========================*/
    .cpd-section .cpd-row .cpd-items .cpd-content h2 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }    

/*======================== gallery Page =========================*/
    .gallery-section .gallery-items {
        width: 100%;
    }    

/*====================== Gajet Page Style ======================*/
    .gajet-section {
        padding: 63px 0;
    }
    .gajet-section .handbook-column {
        row-gap: 23px;
    }
    .gajet-section .handbook-column .new-handbook {
        width: 100%;
    }
    .gajet-section .handbook-column .old-handbook {
        width: 100%;
    }
/*======================== Objective Page =======================*/
    .objectives-section .objective-row {
        padding: 60px 25px 35px 25px;
    }
    .objectives-section .objective-row .left-column iframe{
        width: 100%;
        height: 290px;
        border: 5px double #fff;
        outline: 5px solid #FF8601;
    }
/*========================= Excutive Member Page =====================*/
    .executive-committee-section .committee-row .committee-items {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .executive-committee-section .committee-row .committee-items .content-column{
        width: 100%;
    }
    .executive-committee-section .committee-row .committee-items .image-column{
        width: 100%;
    }




    .main-footer-section h2 {
        text-align: center;
    }
    .main-footer-section .footer-row .footer-column{
        width: 100%;
        justify-content: center;
    }
    .main-footer-section ul li {
        display: flex;
        justify-content: center;
    }
    .main-footer-section ul li a {
        max-width: 290px;
        text-align: center;
    }
    .main-footer-section .visitor-column ul{
        column-gap: 8px;
        margin-top: 40px;
        padding: 18px 0;
    }
    .main-footer-section .visitor-column ul li:first-child{
        display: block;
        width: 100%;
    }
    .main-footer-section .visitor-column p {
        font-size: 13px;
        line-height: 19px;
    }
/*    .main-footer-section .visitor-column ul .indicator{
        display: none;
    }*/
    .main-footer-section .footer-column iframe {
        width: 100%;
        height: 250px;
    }
}