@media only screen and (max-width: 989px){
    .flex{
        flex-wrap: wrap;
    }

    .top-header-section .header-column {
        width: 100%;
        justify-content: center;
    }
    .main-header-section .header-content h1 {
        font-size: 40px;
        line-height: 46px;
    }
    .main-header-section .header-content h1::after {
        top: 43px;
    }
    .main-header-section .header-content p {
        font-size: 14px;
        line-height: 20px;
    }

    .header-menu-section {
        padding: 7px 0 6px 0;
    }
    .main-header-section .header-content h1::after {
        display: none;
    }
    .main-header-section .header-content h2 {
        display: none;
    }
    .main-header-section .header-content p {
       display: none;
    }
    .header-menu-section .navbar-nav li a {
        text-align: center;
    }
    .header-menu-section .navbar-brand{
        display: block;
    }
    .main-header-section .header-content img {
        display: none;
    }
    .header-menu-section .navbar-brand img{
        width: 160px;
    }
    .header-menu-section .navbar-toggler {
        position: relative;
        width: 46px;
        height: 40px;
        padding: 0;
        border: 0;
        margin-top: 6px;
        background: transparent;
    }
    .header-menu-section .navbar-toggler:focus{
        box-shadow: none;
    }
    .header-menu-section .navbar-toggler .icon-bar {
        position: absolute;
        width: calc(100% - 10px);
        height: 3px;
        background-color: #ffffff;
        display: block;
        opacity: 1;
        visibility: visible;
        z-index: 9999999999999999;
    }
    .header-menu-section .navbar-toggler .icon-bar:nth-child(1) {
        left: 0;
        top: 3px;
        transition: all 0.2s;
    }
    .header-menu-section .navbar-toggler .icon-bar:nth-child(2) {
        right: 0;
        top: 14px;
    }
    .header-menu-section .navbar-toggler .icon-bar:nth-child(3) {
        bottom: 11px;
        left: 0;
        transition: all 0.2s;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
    .section-heading h2 {
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 30px;
    }

    .top-header-section .header-content-column {
        justify-content: center;
    }
    .main-header-section {
        padding: 10px 0;
    }
    .main-header-section .header-content h1 {
        font-size: 35px;
        line-height: 34px;
        margin-top: 17px;
    }
    .main-header-section .header-content h1::after {
        top: 70px;
    }
    .main-header-section .header-content h2 {
        font-size: 17px;
        line-height: 22px;
        margin-top: 8px;
    }
    .main-header-section .header-content .logo-column {
        display: none;
    }


    .national-award-section .award-column {
        row-gap: 25px;
    }
    .national-award-section .award-column .award-inner{
        width: 49.15%;
    }
}
